{
    "presets": ["es2015", "stage-2", "react"],
    "plugins": [
        ["import", { "libraryName": "react-mobile-ui", "libraryDirectory": "lib" }],
        "transform-class-properties",
        "add-module-exports",
        "transform-runtime"
    ],
    "env": {
        "test": {
          "plugins": [ "istanbul" ]
        },
        "production": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [ ".less" ]
                    }
                ]
            ]
        }
    }
}