.mui-input {
    width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 17px;
    color: black;
    height: 1.61176471em;
    line-height: 1.61176471;
}

.mui-input-clear {
    width: 21px;
    height: 21px;
    line-height: 21px;
    border-radius: 50%;
    overflow: hidden;
    font-style: normal;
    color: #fff;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: 21px auto;
    background-position: 2px 2px;
}
.mui-none {
    display: none;
}
