* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

ul{
  list-style: none;
}

.app {
  text-align: left;
  color: #333333;
  box-sizing: border-box;
}
  pre {
    text-align: left;
  }
  h2 {
    padding: 16px 0px;
  }
  h3 {
    padding-bottom: 8px;
  }
  h3 + p {
    margin-bottom: 12px;
  }
  pre {
    padding: 12px;
  }
  pre + p {
    padding: 12px 12px;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1Px solid #e9e9e9;
    width: 100%;
    margin-bottom: 24Px;}

    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
      background-color: #F7F7F7;
    }
    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }
  td {
    border: 1Px solid #e9e9e9;
    padding: 8Px 16Px;
    text-align: left;
    }
 
  .mobile-page {
    width: 375px;
    height: 667px;
  }

html::-webkit-scrollbar {
  display: none;
}

.panel {
  position: relative;
  height: 100%;
}

.panel .view-content {
  width: 100%;
  height: 100%;
}

.panel .view-content .mobile-view {
  width: 375px;
  height: 667px;
  background: #cccccc;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel .view-content .mobile-view .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}

.layout-header {
  width: 100%;
  padding-bottom: 24px;
  box-sizing: border-box;
}
.layout-content {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.layout-content .layout-mobile {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 375px;
}
.layout-content-code {
  flex: 1;
  width: 600px;
  flex-basis: 600px;
  box-sizing: border-box;
  height: 667px;
  overflow: hidden;
}
.layout-content .layout-footer {
  width: 100%;
}